body {
    font-family: 'Roboto', san-serif;
    color: #4A4A4A;
    text-align: center;
    padding: 0;
    margin: 0;
}

header {
    background-color: #fafafa;
    padding: 20px;
    margin: 0;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    margin: 20px auto;
    width: 100%;
    color: #7F7F7F;
}

.portfolio-icon {
    background-color: #fafafa;
    padding: 20px;
}

.portfolio-icon img {
    width: 70%;
}

.move-down {
    margin-top: 3.5em;
    margin-bottom: 2.5em;
}

.container {
    background-color: white;
    padding: 20px;
}

h1 {
    font-size: 18px;
    font-weight: 500;
}

h2 {
    font-weight: bolder;
}

h3 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {

    margin: 10px 0;
    padding: 0;
    background-color: #fff;
    text-transform: uppercase;
}

li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    color: #005B96;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}



section {
    box-sizing: border-box;
}

#portfolio section img {
    width: 100%;
    margin-bottom: 20px;
}

#skills section img {
    height: 150px;
    margin-bottom: 20px;
}

footer {
    background-color: #fafafa;
    padding: 40px;
}

footer hr {
    margin-top: 50px;
    margin-bottom: 30px;
}

p strong {
    padding-left: 10px;
}

.direction {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
}

.right {
    text-transform: uppercase;
}

.footerNav {
    display: none;
}

/* ========================
    Media Queries
=========================== */

@media (min-width: 768px) {

    ul {
        margin: 10px;
    }

    li {
        display: inline-block;
        margin: 10px;
        padding: 0;
        background-color: #fafafa;
    }

    li a {
        font-size: 15px;
        padding: 0;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .portfolio-icon img {
        float: right;
        width: 40%;
        background-color: #fafafa;
        padding: 20px;
    }

    .font-resize {
        float: left;
        width: 54%;
        font-size: 20px;
        text-align: left;
        font-weight: 300;
    }

    #portfolio section {
        width: 50%;
        float: left;
        padding: 5px;
        font-weight: 400;
    }

    #skills section {
        width: 33.3%;
        float: left;
        padding: 5px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
        max-height: 50px;
        padding-bottom: 40px;
        width: 80%;
        font-weight: 300;
    }

    h1 {
        font-weight: 400;
    }

    .backToTop {
        display: none;
    }

    .footerNav {
        display: block;
    }

    .footerNav li {
        background-color: #fafafa;
    }

    p strong {
        padding-left: 10px;
    }

    footer p {
        font-size: 20px;
        width: 75%;
    }
}

@media (min-width: 1024px) {

    body {
        background-color: #fafafa;
    }

    .container,
    header,
    .portfolio-icon {
        margin: 20px;
    }

    .container section {
        width: 33.3%;
        float: left;
        padding: 10px;
        font-weight: 400;
    }

    .container p {
        font-size: 16px;
        width: 100%;
        max-height: 50px;
        font-weight: 300;
        padding-bottom: 50px;
    }

    footer p {
        font-size: 20px;
        width: 55%;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    p strong {
        padding-left: 10px;
    }
}